* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px 0;
  max-width: 400px;

  input {
    width: 100%;
    height: 64px;
    border-radius: 16px;
    font-size: 36px;
    padding: 16px;
  }

  button {
    height: 64px;
    border-radius: 64px;
    font-size: 36px;
    cursor: pointer;

    &:active {
      background: green;
    }
  }
}